:root {
  --white-100: #FCFCFC;
  --white-201: #F6F6F6;
  --shading-l100-50: rgba(218, 229, 242, 0.5);
  --shading-d200-20: rgba(43, 55, 70, 0.2);
  --shading-d200-40: rgba(43, 55, 70, 0.4);
  --light-100: #DAE5F2;
  --light-200: #C1D4E9;
  --light-300: #869DB6;
  --medium-100: #6E87A1;
  --medium-200: #566D84;
  --medium-300: #4E6378;
  --dark-100: #405164;
  --dark-150: #303D4C;
  --dark-200: #1E2630;
  --dark-300: #181F28;
  --pastel-yellow-50: #FFF9D6;
  --pastel-yellow-100: #DCD3A3;
  --pastel-purple-50: #E9CBF4;
  --pastel-purple-100: #CDA3DC;
  --pastel-green-100: #A3DCA8;
  --black-300: #30343D;
  --grey-300: #848993;
}

.yellow {
  color: var(--pastel-yellow-100);
}

.purple {
  color: var(--pastel-purple-100);
}

.green {
  color: var(--pastel-green-100);
}

body, * {
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  font-family: 'Public Sans', sans-serif;
  margin: 0;
  background: var(--dark-200);
  color: var(--light-100);
  padding: 28px 32px;
  font-size: 16px;
  line-height: 24px;
}

main {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  flex-wrap: wrap;
}

section {
  border-radius: 16px;
  padding: 16px;
  background: var(--dark-300);
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: 240px;
  overflow: scroll;
  max-height: calc(100vh - 56px);
  position: relative;
  box-shadow: 2px 3px 0px 0px #040506;
}

.section-wrapper {
  flex-basis: 240px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: calc(100vh - 56px);
}

.section-wrapper section {
  flex-grow: 1;
}

.section-heading {
  margin-top: -16px;
  background: var(--dark-300);
  position: sticky;
  top: -16px;
  display: flex;
  gap: 8px;
  padding: 16px 0 12px;
}

section>div:not(.unstyled):not(.table) {
  background: var(--dark-200);
  padding: 6px 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  box-shadow: 1px 1px 1px #000;
}

section#spells {
  flex-grow: 1;
}

*[data-description]>*:first-child {
  cursor: default;
  user-select: none;
}

/* Hide the default checkbox */
input[type="checkbox"] {
  display: none;
}

/* Create custom checkbox */
input[type="checkbox"]+span {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 1px;
  border: 2px solid var(--light-300);
  position: relative;
  cursor: pointer;
}

/* Checkmark styles for selected state */
input[type="checkbox"]:checked+span::after {
  content: '';
  position: absolute;
  left: 3px;
  top: -1px;
  width: 5px;
  height: 9px;
  border: solid #34E7A6;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Disabled state */
input[type="checkbox"]:disabled+span {
  cursor: not-allowed;
  opacity: 0.6;
}

.checkboxes {
  user-select: none;
  display: flex;
  gap: 5px;
}

.increment-btn, .decrement-btn {
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 50%;
  background-color: #405164;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hpButtons {
  display: flex;
  gap: 8px;
  align-items: center;
}

button {
  background: var(--dark-200);
  border-radius: 8px;
  border: 1px solid transparent;
  box-shadow: 0 1px 2px var(--shading-d200-20);
  color: var(--white-100);
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  overflow: hidden;
  padding: 12px 24px;
  position: relative;
  transition: border 0.2s;
  z-index: 1;
}

button:hover::before, button:hover::before, button:active::before {
  content: '';
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity 0.2s;
  width: 100%;
  z-index: -1;
}

button:hover::before, button:focus::before {
  background: var(--shading-d200-20);
}

button:active::before {
  background: var(--shading-d200-40) !important;
}

button:disabled {
  background: var(--dark-100) !important;
  color: var(--medium-200) !important;
  cursor: default;
}

button:disabled::before {
  opacity: 0 !important;
}

.table {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 24px;
}

.row {
  display: flex;
}

.row.header .cell:first-of-type {
  border-top-left-radius: 8px;
}

.row.header .cell:last-of-type {
  border-top-right-radius: 8px;
}

.table .row:last-of-type .cell:first-of-type {
  border-bottom-left-radius: 8px;
}

.table .row:last-of-type .cell:last-of-type {
  border-bottom-right-radius: 8px;
}

.row.header .cell {
  background: var(--dark-200);
  border-top: 1px solid var(--medium-300);
  display: flex;
  align-items: center;
  font-weight: bold;
}

.cell {
  padding: 8px 12px;
  min-height: 40px;
}

.cell.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row .cell:last-of-type {
  border-right: 1px solid var(--medium-300);
}

.cell {
  border-left: 1px solid var(--medium-300);
  border-bottom: 1px solid var(--medium-300);
  text-align: left;
  ;
}

.table .row:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#spells .table .row .cell:nth-of-type(1) {
  width: 124px;
}

#spells .table .row .cell:nth-of-type(2) {
  width: 80px;
}

#spells .table .row .cell:nth-of-type(3) {
  width: 120px;
}

#spells .table .row .cell:nth-of-type(4) {
  width: 44px;
}

#spells .table .row .cell:nth-of-type(5) {
  width: 44px;
}

#spells {
  gap: 24px;
}

#spells legend {
  font-size: 14px;
  color: var(--medium-200);
}

#spells legend p {
  display: flex;
  gap: 8px;
}

.portency {
  align-items: flex-start;
  background: none;
  flex-direction: column;
  gap: 16px;
  display: flex;
  min-height: auto;
  padding-left: 0;
  padding-right: 0;
}

.portency>div {
  display: flex;
  gap: 16px;
  width: 100%;
}

.portency>div>div {
  background: var(--dark-200);
  border-radius: 8px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 1px 1px 1px #000;
}

.castBtn {
  height: 32px;
  padding: 2px 24px;
  color: var(--pastel-purple-100);
  font-weight: bold;
}

.row span {
  padding-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}


input:not([type="checkbox"]) {
  background: transparent;
  font-size: 16px;
  border: 1px solid var(--light-300);
  width: 100px;
  padding: 4px;
  color: var(--light-100);
}

#overview {
  min-height: 477px;
}
